html,
body {
  font-size: 62.5%;
  background: #337796;
  padding: 2em;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover {
  opacity: 95%;
}

table {
  width: 100%;
}

.container-section {
  height: auto;
  width: 70vh;
  padding: 2em;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  box-shadow: 10px 10px 10px rgb(48, 47, 47);
  font-size: 1.5rem;
  box-sizing: border-box;
  border-radius: 1em;
  background: #ffffff;
}
.options {
  height: auto;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 30vh 10vh;
  grid-auto-rows: auto;
}
.input-number {
  padding: 0.2rem;
  margin-bottom: 0.8rem;
}

input[type='checkbox'] {
  margin-top: 0.5rem;
  width: 10vh;
  height: 3vh;
}

.generate {
  margin-top: 2em;
  padding: 1rem;
  width: 40vh;
  border-radius: 1rem;
  background: #286486;
  color: #ffffff;
}

.password-generated {
  margin-top: 1em;
  font-size: 10ch;
  color: #ffffff;
}
